body {
    background-color: aquamarine;
}

p {
    margin: 0;
    padding: 0;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: transparent;
    box-shadow: 5px 5px 10px gray;
    padding: min(25px, 5%);
    border-radius: 10px;
    background-color: rgb(254, 252, 252);
}

.screen {
    text-align: right;
    color: white;
    width: 165px;
    height: 40px;
    padding-right: 10px;
    background: black;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 200;
}

button {
    width: 30px;
    height: 30px;
    margin: min(4px, 2%);
    margin-top: 8px;
    background: none;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

button:active {
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.05);
}

.backspace {
    margin-left: 85px;
    color: white;
    background: black;
}

.special_number {
    width: 73px;
}

.equal_to {
    background: rgb(120, 221, 255);
    box-shadow: 5px 5px 10px lightblue;
}